.nav1 {
    padding-top: 150px!important;
    background-color: $light-color;
    padding: 20px;
    nav {
        border-bottom: none;
    }
    h3 {
        font-weight: bolder;
        color: rgba($black-color, .7);
    }
    a {
        color: rgba($secondary, .7);
        text-decoration: none;
        font-weight: lighter;
    }
    .breadcrumb-item {
        color: rgba($secondary, .7);
        font-weight: lighter;
        &.active {
            font-weight: bolder;
        }
    }
}

.first-blog {
    background-color: white;
    width: 100%;
    padding-top: 50px;
    h3 {
        font-weight: bolder;
        color: rgba($black-color, .7);
    }
    .blog1 {
        img {
            width: 100%;
            height: auto;
        }
        h2 {
            margin-top: 30px;
            font-weight: bolder;
            font-size: 2em;
            color: rgba($black-color, .7);
        }
        .first {
            p {
                font-size: 14px;
                margin-top: 5px;
            }
        }
        .category {
            color: rgba($secondary, .7);
            p {
                margin: 5px;
            }
            svg {
                margin: 0 5px 0 10px;
                color: rgba($secondary, .7);
            }
        }
        p {
            color: rgba($secondary, .7);
            margin-right: 10px;
            line-height: 1.6;
            &.category {
                align-self: flex-end;
            }
        }
        .break {
            font-size: 30px;
            padding-right: 30px;
        }
        .break2 {
            font-size: 20px;
            font-style: italic;
            color: rgba($secondary, .8);
            padding-left: 30px;
            border-left: 3px solid rgba($secondary, .2);
            line-height: 1.6;
        }
        .share {
            a {
                background-color: #f0f0f0;
                padding: 10px 20px;
                color: rgba($secondary, .9);
                i {
                    color: rgba($secondary, .9);
                    span {
                        margin-left: 15px;
                    }
                }
            }
            .arrows {
                align-items: center;
                a {
                    background-color: #f0f0f0;
                    padding: 20px 25px;
                    font-size: 20px;
                    border-radius: 50%;
                    margin: 15px;
                }
                i {
                    color: rgba($secondary, .9);
                }
                p {
                    padding-top: 10px;
                }
            }
        }
    }
    .list {
        input {
            border: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 15px;
        }
        i {
            color: rgba($secondary, .5);
            font-size: 20px;
            background-color: #f0f0f0;
            padding: 15px;
            margin-left: 10px;
        }
        h6 {
            font-size: 18px;
            font-weight: bolder!important;
            margin: 20px 0;
            margin-top: 50px;
        }
        .list-group {
            li {
                border: none;
                border-bottom: .2px solid rgba($secondary, .2);
                color: rgba($secondary, .7);
                span {
                    background-color: #f0f0f0;
                    color: rgba($secondary, .5);
                    font-weight: bold;
                    padding: 10px;
                }
                &.end {
                    border: none;
                }
            }
        }
        .fix {
            background-color: $white-color;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 10px;
            i {
                margin-left: 0;
                background-color: white;
            }
            &:hover {
                color: $white-color;
                background-color: #294cfe;
                i {
                    color: $white-color;
                    background-color: #294cfe;
                }
            }
        }
        .nav-blog {
            .nav-link {
                background-color: #eae9e9;
                color: rgba($secondary, .5);
                font-weight: bold;
                margin: 10px;
                padding: 8px 10px;
            }
        }
    }
    .latest {
        .col-3 {
            position: relative;
            padding: 0;
            margin: 10px;
            &:hover {
                .overelay {
                    display: block;
                }
            }
        }
        img {
            height: 100%;
            width: 100%;
        }
        .overelay {
            position: absolute;
            display: none;
            top: 0;
            background: rgba(#294cfe, 0.7);
            height: 100%;
            width: 100%;
            transition: all .5s ease-in-out;
            text-align: center;
            svg {
                color: rgba($white-color, 0.9);
                margin-top: 40%;
            }
        }
    }
    .media {
        padding-right: 30px;
        .facebook {
            i {
                padding: 17px 22px;
            }
        }
        i {
            border-radius: 50%;
            margin: 10px;
            padding: 19px;
            &:hover {
                background-color: #eae9e9;
            }
        }
    }
}

@media (max-width: 768px) {
    .nav1 {
        .container-fluid {
            display: block!important;
            text-align: center;
        }
        .breadcrumb {
            justify-content: center;
        }
    }
}

@media (max-width: 568px) {
    .nav1 {
        padding-left: 20px!important;
        padding-right: 20px!important;
        .breadcrumb-item {
            font-size: 12px;
        }
    }
    .first {
        display: block!important;
    }
    .category {
        justify-content: space-between;
    }
    p,
    .break2 {
        font-size: 16px;
    }
    .arrows {
        a {
            padding: 10px 15px!important;
            font-size: 10px;
        }
    }
    .share {
        display: block!important;
    }
    .media {
        padding: 10px!important;
        justify-content: flex-start!important;
        i {
            padding: 10px!important;
            margin: 0!important;
        }
    }
}